<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Give feedbacks and accumulate points like a mileage program, so you can use them to buy products with discounts and maybe win other products.">
    <meta name="author" content="CouponFeed">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>CouponFeed</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/fontawesome.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <!-- <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div> -->
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img src="images/sem_slogan_fundo_claro@4x.png"
                alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Inicio <span class="sr-only">(atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#pricing">Preços</a>
                </li>
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">Sobre</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">Condições
                                contratuais</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">Política de
                                Privacidade</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="http://fb.com/couponfeed">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x twitter"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->



    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Política de Privacidade</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>SEÇÃO 1 - O QUE FAREMOS COM ESTA INFORMAÇÃO?</h3>
                        <p>Quando você realiza alguma transação com nossa loja, como parte do processo de compra e
                            venda,
                            coletamos as informações
                            pessoais que você nos dá tais como: nome, e-mail e endereço.</p>

                        <p>Quando você acessa nosso site, também recebemos automaticamente o protocolo de internet do
                            seu
                            computador, endereço de
                            IP, a fim de obter informações que nos ajudam a aprender sobre seu navegador e sistema
                            operacional.</p>

                        <p>Email Marketing será realizado apenas caso você permita. Nestes emails você poderá receber
                            notícia sobre nossa loja,
                            novos produtos e outras atualizações.</p>

                        <h3>SEÇÃO 2 - CONSENTIMENTO</h3>
                        <h5>Como vocês obtêm meu consentimento?</h5>

                        <p>Quando você fornece informações pessoais como nome, telefone e endereço, para completar: uma
                            transação, verificar seu
                            cartão de crédito, fazer um pedido, providenciar uma entrega ou retornar uma compra. Após a
                            realização de ações
                            entendemos que você está de acordo com a coleta de dados para serem utilizados pela nossa
                            empresa.</p>

                        <p>Se pedimos por suas informações pessoais por uma razão secundária, como marketing, vamos lhe
                            pedir diretamente por seu
                            consentimento, ou lhe fornecer a oportunidade de dizer não.</p>

                        <h5>E caso você queira retirar seu consentimento, como proceder?</h5>

                        <p>Se após você nos fornecer seus dados, você mudar de ideia, você pode retirar o seu
                            consentimento
                            para que possamos
                            entrar em contato, para a coleção de dados contínua, uso ou divulgação de suas informações,
                            a
                            qualquer momento, entrando
                            em contato conosco em couponfeedbr@gmail.com ou nos enviando uma correspondência em:
                            CouponFeed
                            CouponFeed BR</p>

                        <h3>SEÇÃO 3 - DIVULGAÇÃO</h3>
                        Podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se
                        você violar nossos Termos
                        de Serviço.

                        <h3>SEÇÃO 4 - SERVIÇOS DE TERCEIROS</h3>

                        <p>No geral, os fornecedores terceirizados usados por nós irão apenas coletar, usar e divulgar
                            suas
                            informações na medida
                            do necessário para permitir que eles realizem os serviços que eles nos fornecem.</p>

                        <p>Entretanto, certos fornecedores de serviços terceirizados, tais como gateways de pagamento e
                            outros processadores de
                            transação de pagamento, têm suas próprias políticas de privacidade com respeito à informação
                            que
                            somos obrigados a
                            fornecer para eles de suas transações relacionadas com compras.</p>
                        <p>Para esses fornecedores, recomendamos que você leia suas políticas de privacidade para que
                            você
                            possa entender a maneira
                            na qual suas informações pessoais serão usadas por esses fornecedores.</p>


                        <p>Em particular, lembre-se que certos fornecedores podem ser localizados em ou possuir
                            instalações
                            que são localizadas em
                            jurisdições diferentes que você ou nós. Assim, se você quer continuar com uma transação que
                            envolve os serviços de um
                            fornecedor de serviço terceirizado, então suas informações podem tornar-se sujeitas às leis
                            da(s) jurisdição(ões) nas
                            quais o fornecedor de serviço ou suas instalações estão localizados.</p>

                        <p>Como um exemplo, se você está localizado no Canadá e sua transação é processada por um
                            gateway
                            de pagamento localizado
                            nos Estados Unidos, então suas informações pessoais usadas para completar aquela transação
                            podem
                            estar sujeitas a
                            divulgação sob a legislação dos Estados Unidos, incluindo o Ato Patriota.</p>

                        <p>Uma vez que você deixe o site da nossa loja ou seja redirecionado para um aplicativo ou site
                            de
                            terceiros, você não será
                            mais regido por essa Política de Privacidade ou pelos Termos de Serviço do nosso site.</p>

                        <h5>Links</h5>

                        <p>Quando você clica em links na nossa loja, eles podem lhe direcionar para fora do nosso site.
                            Não
                            somos responsáveis
                            pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de
                            privacidade deles.</p>

                        <h3>SEÇÃO 5 - SEGURANÇA</h3>
                        <p>Para proteger suas informações pessoais, tomamos precauções razoáveis e seguimos as melhores
                            práticas da indústria para
                            nos certificar que elas não serão perdidas inadequadamente, usurpadas, acessadas,
                            divulgadas,
                            alteradas ou destruídas.</p>

                        <p>Se você nos fornecer as suas informações de cartão de crédito, essa informação é
                            criptografada
                            usando tecnologia "secure
                            socket layer" (SSL) e armazenada com uma criptografia AES-256. Embora nenhum método de
                            transmissão pela Internet ou
                            armazenamento eletrônico é 100% seguro, nós seguimos todos os requisitos da PCI-DSS e
                            implementamos padrões adicionais
                            geralmente aceitos pela indústria.</p>

                        <h3>SEÇÃO 6 - ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE</h3>
                        <p>Reservamos o direito de modificar essa política de privacidade a qualquer momento, então por
                            favor, revise-a com
                            frequência. Alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação
                            no
                            site. Se fizermos
                            alterações de materiais para essa política, iremos notificá-lo aqui que eles foram
                            atualizados,
                            para que você tenha
                            ciência sobre quais informações coletamos, como as usamos, e sob que circunstâncias, se
                            alguma,
                            usamos e/ou divulgamos
                            elas.</p>

                        <p>Se nossa loja for adquirida ou fundida com outra empresa, suas informações podem ser
                            transferidas para os novos
                            proprietários para que possamos continuar a vender produtos para você.</p>

                    </div> <!-- end of text-container-->

                    <a class="btn-outline-reg back" href="index.html">Volta</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About Evolo</h4>
                        <p>We're passionate about offering the best human resource services to our customers</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Our business partners <a class="turquoise"
                                        href="#your-link">startupguide.com</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms
                                        & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy
                                        Policy</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack fa-lg">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack fa-lg">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack fa-lg">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack fa-lg">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack fa-lg">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Inovatik</a> - All rights
                        reserved</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->

</body>

</html>